body {
	background-image: url(../style/avantlink-ribbon.svg);
	height: 100vh;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
}
h5 {
	font-weight: bolder;
}
h6 {
	font-weight: bold;
}

#affTable {
	border-color: blue;
	border-width: 3px;
}
#productsRow {
	margin-top: 100px;
}
